body {
  overflow-x: hidden; }

.landing-section {
  display: block; }
  .landing-section img {
    width: 100%;
    position: relative;
    display: block; }
  .landing-section #text {
    position: relative;
    text-align: center;
    top: -48vmax;
    display: block; }
    .landing-section #text h4 {
      display: block;
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-size: 1.4vmax;
      margin: 0 auto;
      color: #FC85AE;
      font-weight: 900;
      text-align: center; }
    .landing-section #text h1 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-size: 6.5vmax;
      margin: 0 auto;
      color: #FFFFFF;
      font-weight: 900;
      margin-bottom: 1.5%;
      text-align: center;
      display: block; }
    .landing-section #text h5 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-size: 1.4vmax;
      margin: 0 auto;
      color: #FFFFFF;
      font-weight: 100;
      text-align: center;
      margin-bottom: 2%;
      opacity: 0.8;
      display: block; }
    .landing-section #text input {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      background: #FC85AE;
      border-radius: 50vmax;
      padding: 1.3vmax 2.7vmax;
      border: none;
      font-size: 0.8vmax;
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
      text-align: center;
      margin: 0 auto;
      display: block; }

#left-card {
  background: white;
  width: 41%;
  position: relative;
  display: inline-block;
  float: left;
  top: -26vmax; }
  #left-card .inspire-create-repeat {
    display: inline-block;
    float: right;
    padding-right: 2vmax;
    margin-bottom: 5vmax; }
    #left-card .inspire-create-repeat hr {
      width: 30%;
      border: none;
      height: 3px;
      color: #FC85AE; }
    #left-card .inspire-create-repeat h3 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      position: relative;
      color: #303952;
      font-weight: 600;
      font-size: 1.1vmax;
      letter-spacing: 2px;
      width: 50%; }
  #left-card h2 {
    position: relative;
    padding-right: 2vmax;
    float: right;
    width: 60%;
    font: 100% "Montserrat", "Open Sans", sans-serif;
    font-weight: 900;
    color: #303952;
    font-size: 2.2vmax;
    letter-spacing: -1px;
    padding-top: 3vmax; }
  #left-card p {
    position: relative;
    right: 3vmax;
    float: right;
    width: 52%;
    font: 100% "Montserrat", "Open Sans", sans-serif;
    font-family: 'Open Sans';
    font-weight: 400;
    color: #adadad;
    font-size: 1.25vmax;
    line-height: 2.0vmax; }

#right-card {
  background: #564a91;
  width: 47%;
  position: relative;
  top: -21vmax;
  left: 10vmax;
  display: inline-block; }
  #right-card ul {
    list-style-type: none;
    padding-left: 8vmax;
    padding-right: 8vmax;
    padding-top: 6vmax;
    padding-bottom: 6vmax; }
    #right-card ul li {
      margin-bottom: 2vmax; }
      #right-card ul li h4 {
        display: inline-block;
        font: 100% "Montserrat", "Open Sans", sans-serif;
        font-weight: 700;
        color: #FC85AE;
        font-size: 2.1vmax;
        letter-spacing: -1px; }
      #right-card ul li h3 {
        position: relative;
        display: inline;
        letter-spacing: 0.5px;
        left: 08%;
        font: 100% "Montserrat", "Open Sans", sans-serif;
        font-weight: 700;
        color: #FC85AE;
        font-size: 1.4vmax;
        width: 30%;
        line-height: 0.5vmax;
        margin-left: 0.8vmax; }
      #right-card ul li p {
        position: relative;
        width: 80%;
        font: 100% "Montserrat", "Open Sans", sans-serif;
        font-family: 'Open Sans';
        font-weight: 100;
        color: white;
        font-size: 0.98vmax;
        line-height: 1.5vmax;
        margin-left: 6.5vmax; }
  #right-card img {
    position: relative;
    float: left;
    width: 20%;
    top: -60vmax; }

.grey-card {
  background: #FAFAFA;
  width: 96%;
  left: 2%;
  position: relative;
  top: -20vmax; }
  .grey-card .text-one {
    padding: 9vmax;
    width: 50%;
    display: inline-block; }
    .grey-card .text-one h3 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 900;
      color: #303952;
      font-size: 2.2vmax;
      letter-spacing: -1px;
      margin-bottom: 1.5vmax; }
    .grey-card .text-one h6 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-weight: .300;
      color: #999999;
      font-size: 0.98vmax;
      line-height: 1.8vmax;
      margin-bottom: 3vmax; }
  .grey-card .text-two {
    position: absolute;
    padding-left: 9vmax;
    top: 18vmax;
    width: 35%;
    display: inline-block;
    z-index: 5; }
    .grey-card .text-two p {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-weight: .300;
      color: #999999;
      font-size: 0.98vmax;
      line-height: 1.8vmax;
      margin-bottom: 3vmax; }
    .grey-card .text-two h4 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 800;
      color: #574b90;
      letter-spacing: -1px;
      font-size: 1.5vmax; }

#images {
  width: 100%;
  top: -26vmax;
  position: relative; }
  #images img.one {
    width: 50%;
    position: relative;
    display: inline-block;
    margin: 0; }
  #images img.two {
    width: 49%;
    position: relative;
    display: inline-block;
    left: 1.5vmax;
    margin: 0;
    top: -6vmax; }
  #images img.three {
    width: 25%;
    position: relative;
    display: inline-block;
    left: 37.54%;
    top: -15vmax; }
  #images .text-one {
    width: 22%;
    position: relative;
    display: inline-block;
    left: -12vmax;
    top: -8vmax; }
    #images .text-one h4 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 800;
      color: #574b90;
      letter-spacing: -1px;
      font-size: 1.5vmax; }
    #images .text-one p {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-weight: .300;
      color: #999999;
      font-size: 0.98vmax;
      line-height: 1.8vmax;
      margin-bottom: 3vmax; }
  #images .text-two {
    width: 22%;
    position: relative;
    display: inline-block;
    left: 17vmax;
    top: -16vmax; }
    #images .text-two h4 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 800;
      color: #574b90;
      letter-spacing: -1px;
      font-size: 1.5vmax; }
    #images .text-two p {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-weight: .300;
      color: #999999;
      font-size: 0.98vmax;
      line-height: 1.8vmax;
      margin-bottom: 3vmax; }
  #images .text-three {
    width: 22%;
    position: relative;
    display: inline-block;
    left: -5vmax;
    top: -03vmax; }
    #images .text-three h4 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 800;
      color: #574b90;
      letter-spacing: -1px;
      font-size: 1.5vmax; }
    #images .text-three p {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-family: 'Open Sans';
      font-weight: .300;
      color: #999999;
      font-size: 0.98vmax;
      line-height: 1.8vmax;
      margin-bottom: 3vmax; }

#humans {
  top: -30vmax;
  background: #303952;
  position: relative;
  padding-bottom: 0; }
  #humans h2 {
    position: relative;
    padding-right: 2vmax;
    font: 100% "Montserrat", "Open Sans", sans-serif;
    font-weight: 900;
    color: white;
    font-size: 2.2vmax;
    letter-spacing: -1px;
    text-align: center;
    padding-top: 12vmax; }
  #humans img {
    width: 45%;
    display: inline-block;
    position: relative;
    padding-right: 15%;
    left: 12.5%;
    margin-bottom: 0; }
  #humans img.one {
    top: -25vmax; }
  #humans img.two {
    top: -12vmax; }
  #humans img.three {
    top: -25vmax; }
  #humans img.four {
    top: -12vmax;
    margin-bottom: 3vmax; }
  #humans img.five {
    width: 60%;
    left: 0;
    display: block;
    padding-right: 0;
    position: absolute;
    top: 62.5vmax; }
  #humans img.six {
    width: 20%;
    left: 80%;
    display: block;
    padding-right: 0;
    position: absolute;
    top: 57.5vmax; }

.schedule {
  position: relative;
  background: #FAFAFA;
  width: 96%;
  margin: 0 auto;
  top: -28vmax; }
  .schedule .dates {
    display: inline-block;
    margin-top: 8vmax;
    left: 12vmax;
    position: relative; }
    .schedule .dates h3 {
      position: relative;
      padding-right: 2vmax;
      font: 100% "Montserrat", "Open Sans", sans-serif;
      font-weight: 900;
      color: #303952;
      font-size: 2.2vmax;
      letter-spacing: -1px;
      margin-bottom: 4vmax; }
    .schedule .dates h4 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      position: relative;
      color: #303952;
      font-weight: 600;
      font-size: 1.1vmax;
      letter-spacing: 2px;
      margin-bottom: 1vmax; }
  .schedule ul {
    list-style: none;
    display: inline-block;
    left: 30%;
    position: relative;
    top: -8vmax; }
    .schedule ul li {
      padding-right: 18vmax;
      display: inline-block;
      margin-bottom: 2vmax;
      position: relative; }
      .schedule ul li h2 {
        position: relative;
        font: 100% "Montserrat", "Open Sans", sans-serif;
        font-weight: 800;
        color: #574b90;
        font-size: 1.5vmax;
        letter-spacing: -1px; }
      .schedule ul li p {
        position: relative;
        font: 100% "Montserrat", "Open Sans", sans-serif;
        font-family: 'Open Sans';
        font-weight: .300;
        color: #999999;
        font-size: 0.96vmax;
        width: 100%; }

.img-paint {
  position: relative;
  top: -15vmax; }
  .img-paint img {
    position: relative;
    float: left;
    width: 20%;
    top: -8vmax; }

#faq {
  position: relative;
  display: block;
  top: -13vmax; }
  #faq img {
    position: relative;
    width: 45%;
    left: -17vmax;
    margin-top: 8vmax;
    z-index: 10; }
  #faq .card {
    background: #564a91;
    width: 58%;
    position: relative;
    top: -72vmax;
    float: right; }
    #faq .card h2 {
      font: 100% "Montserrat", "Open Sans", sans-serif;
      color: white;
      font-size: 2vmax;
      font-weight: 900;
      position: relative;
      padding-left: 28%;
      padding-top: 9%;
      padding-bottom: 5%;
      position: relative; }
    #faq .card ul {
      position: relative;
      list-style: none;
      padding-bottom: 3vmax; }
      #faq .card ul li {
        position: relative;
        padding-left: 12%;
        padding-right: 15%;
        padding-bottom: 2vmax; }
        #faq .card ul li h3 {
          position: relative;
          display: inline;
          letter-spacing: 0.5px;
          left: 08%;
          font: 100% "Montserrat", "Open Sans", sans-serif;
          font-weight: 700;
          color: #FC85AE;
          font-size: 1.4vmax;
          width: 30%;
          line-height: 0.5vmax;
          margin-left: 0.8vmax;
          left: 6vmax; }
        #faq .card ul li p {
          position: relative;
          width: 55%;
          font: 100% "Montserrat", "Open Sans", sans-serif;
          font-family: 'Open Sans';
          font-weight: 100;
          color: white;
          font-size: 0.98vmax;
          line-height: 1.8vmax;
          margin-left: 6.8vmax;
          opacity: 0.9;
          margin-top: 1vmax; }

.sponsors {
  position: relative;
  background: #FAFAFA;
  width: 96%;
  margin-left: 2%;
  top: -5vmax; }
  .sponsors h3 {
    position: relative;
    font: 100% "Montserrat", "Open Sans", sans-serif;
    font-weight: 900;
    color: #303952;
    font-size: 2.2vmax;
    letter-spacing: -1px;
    padding-top: 08vmax;
    padding-left: 12vmax;
    margin-bottom: 3vmax;
    display: block; }
  .sponsors p {
    position: relative;
    width: 100%;
    font: 100% "Montserrat", "Open Sans", sans-serif;
    text-align: center;
    font-weight: 300;
    color: #303952;
    font-size: 0.98vmax;
    line-height: 1.8vmax;
    opacity: 0.9;
    margin-bottom: 3vmax; }
  .sponsors input {
    font: 100% "Montserrat", "Open Sans", sans-serif;
    background: #FC85AE;
    border-radius: 50vmax;
    padding: 1.3vmax 2.7vmax;
    border: none;
    font-size: 0.8vmax;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
    left: 41.8%;
    margin-bottom: 10%;
    position: relative; }

.footer {
  background: #303952;
  position: static;
  top: -18vmax;
  margin: 0; }
  .footer img.logo {
    width: 15%;
    left: 42.5%;
    position: relative;
    padding-top: 5vmax;
    padding-bottom: 30vmax; }
  .footer img.extra {
    width: 32%;
    left: 34%;
    position: relative;
    padding: 8vmax;
    padding-bottom: 20vmax; }

/*# sourceMappingURL=style.css.map */
